<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n" />
        </Console>

        <RollingFile
                name="File"
                filename="${sys:user.home}/.dt-tool/dt-tool.log"
                filePattern="${sys:user.home}/dt-tool/dt-tool-%d{MM-dd-yyyy}-%i.log.gz">>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %msg - %logger{36}%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
                <DefaultRolloverStrategy max="5"/>
            </Policies>
        </RollingFile >
    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="File" level="info"/>
        </Root>

        <Logger name="de.elomagic" level="trace" additivity="false">
            <AppenderRef ref="Console" level="trace"/>
        </Logger>
    </Loggers>
</Configuration>